<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Language Detection</title>
</head>
<body>
    <div class="container">
        <h1>Language Detection</h1>
        <form action="/predict" method="post">
            <input type="text" name="text" placeholder="Enter text for language detection" required>
            <input type="submit" value="Detect Language">
        </form>
        <div id="result"></div>
    </div>
</body>
</html>
